html {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}



#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff2e6;
  overflow-y: auto;
  border-right: 2px dotted #660000;
  padding: 10px
}



body {
  font-family: garamond, serif;
  font-size: 1.3rem;
  background-color: #fff2e6;
  padding-left: 330px;
  padding-right: 10px
}

@media (max-width: 768px) {
  #navbar {
    position: static;
    width: 100%;
    height: auto;
  }

  body {
    padding: auto;
    margin: auto
  }
}

nav > ul > li {
  list-style: none
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: black;
  margin-left: -30px;
  border-bottom: 2px dotted #660000;
  padding-bottom: 20px;
  padding-top: 20px
}

p {
  text-indent: 2rem;
}

header {
  font-weight: 800;
  font-size: 1.75rem;
  color: #660000
}

h1 {
  font-size: 1.5rem
}

code {
  font-size: 1.2rem
}
